.auth-pop {
    --width: auto;
    padding: 0;
    margin:0
}

.auth-pop ion-grid{
    max-width: 700px;
    width: 90vw;
    padding: 0;
}

.auth-pop ion-col{
    padding: 0;
}

.auth-img{
    width: 250px;
    height: 100%;
    object-fit: cover;
}

.auth-start{
    display: flex;
    justify-content: flex-start;
    margin: 5px 0;
}

.auth-start p, .auth-start h2{
    border-bottom: 3px solid #3880ff;
}

.sign-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 40px;
    min-height: 85vh;
}

.auth-name{
    display: flex;
    gap: 10px;
}

.auth-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5px 0;
    height: 40px;
    flex-direction: column;
    width: 100%;
    min-width: 235px;
}

.apple-auth-btn{
    height: 40px;
    border-radius: 100px;
    width: 235px;
    font-size: small !important;
    border-radius: 100px !important;
}

.apple-auth-btn svg{
    width: 35px !important;
    height: 55px !important;
}

.auth-name input{
    width: 100%;
}

.auth-input-div{
    margin-top: 5px;
}

.auth-input{
    border:1px solid #c4c4c4;
    background: #ddd;
    height: 35px;
    border-radius: 50px;
    width: 100%;
    padding: 0 10px;
}

.auth-input:autofill {
    border:1px solid #c4c4c4;
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0 30px #ddd inset !important;
}

.auth-input-val-div{
    position: relative;
}
.auth-validation-div{
    position: absolute;
    top: 100%;
    left:0;
    right: 0;
    z-index: 999;
}

.auth-validation{
    background-color: rgb(224, 57, 57);
    position: relative;
    color: white;
    margin-top: 5px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    border-radius: 10px;
}

.auth-validation div{
    position: absolute;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    background-color: rgb(224, 57, 57);
    top: -5px;
    right: 50%;
    left: 50%
}

.auth-input:focus{
    outline: none;
}

.auth-label{
    line-height: 30px;
}

.auth-policy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.auth-policy label{
    padding-left: 5px;
}
.auth-policy ion-checkbox{
    height: 16px;
    width: 16px;
}

.auth-change{
    margin: 15px 0;
    cursor: pointer;
}

.auth-change a{
    cursor: pointer;
}

.sign-content h4{
    margin: 0 0 5px 0;
}

.auth-or{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.auth-or-p{
    position: relative;
    text-align: center;
    margin: auto;
}

.auth-or-p::before {
    content: "";
    background-color: #3880ff;
    display: block;
    position: absolute;
    top: 50%;
    left: -18%;
    width: 15%;
    height: 2px;
}

.auth-or-p::after {
    content: "";
    background-color: #3880ff;
    display: block;
    position: absolute;
    top: 50%;
    right: -18%;
    width: 15%;
    height: 2px;
}

.verify-dec{
    background-color: #e8f1fa;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #c4c4c4;
}
