.search-control {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
    margin: 1rem 0;
}

.search-control__label {
    color: #000;
}

.field {
    display: inline-flex;
    gap: 1rem;
    align-items: center;
    margin: 0.5rem 0;
}

.search-field__indented {
    margin-left: 1rem;
}

.select-field {
    border: 1px solid #ddd;
    width: 100%;
}
