.search-box {
    display: inline-flex;
    width: 300px;
    max-width: 400px;
    align-items: center;
    position: relative;
}

.search-input-box {
    background: #eef3f8;
    color: #000;
    font-weight: 600;
    border-radius: 10px;
}

.search-box__search-icon {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 3;
    right: 5px;
}

.search-box__icon {
    color: #86888f;
    font-size: 40px;
    cursor: pointer;
}

.recommend-search {
    position: absolute;
    background: #fff;
    max-height: 400px;
    width: 400px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 3px 13px 0 rgb(60 60 60 / 40%);
    padding: 20px;
    overflow: auto;
}

.recommend-search__user {
    width: 100%;
    color: #000;
    padding: 0.5rem;
    border-radius: 5px;
    background: #ddd;
}

.recommend-search__user:hover {
    background: #b8b8b8;
    border-radius: 5px;
}

@media (width < 768px) {
    .recommend-search {
        background: #fff;
        width: 300px;
        margin-top: 28rem;
        position: absolute;
    }
}