.notificatons-tabs {
    margin-top: 1rem;
}

.notificatons-tabs h5 {
    padding-bottom: 0.5rem;
}

.notificatons-tabs--menu {
    color: #3880ff;
    border-bottom: 2px solid #3880ff;
}

/* .notificatons-tabs-content {
    margin-top: 1rem;
} */
